{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "TNC Floodplain Login" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>{% trans "Log in." %}</h1>

      <p>{% blocktrans %}Anyone can register for the Floodplain Gravel Mine Restoration tool - <a href="{{ signup_url }}">registering</a> allows you to define properties, test their suitability, and share the results with your collaborators.{% endblocktrans %}</p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

      {% if socialaccount.providers  %}
      <p>{% blocktrans with site.name as site_name %}or log in with {% endblocktrans %}</p>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% endif %}
        <br />
        <button class="primaryAction account-submit-btn" type="submit">{% trans "Log in" %}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right green"></span></button>
      </form>

      <hr />

      <a class="footer" href="{% url 'account_reset_password' %}">{% trans "I forgot my password/username" %}</a>
      <span class="footer middot">&middot;</span>
      <a class="footer" href="{{ signup_url }}">{% trans "I need to register" %}</a>

    </div>
  </div>
{% endblock %}
