{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Reset password." %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button type="submit" class="account-submit-btn">{% trans "Reset My Password" %}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right green"></span></button>
    </form>
    
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

      <hr />

      <a class="footer" href="{% url 'account_login' %}">{% trans "I want to log in" %}</a>
      <span class="footer middot">&middot;</span>
      <a class="footer" href="/accounts/signup">{% trans "I need to register" %}</a>

{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
