{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>{% trans "Sign up." %}</h1>

            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <br/>
              <button type="submit" class="account-submit-btn">{% trans "Sign Up" %}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right green"></span></button>
            </form>

            <hr />

            <a class="footer" href="{% url 'account_login' %}">{% trans "I want to log in" %}</a>
            <span class="footer middot">&middot;</span>
            <a class="footer" href="{% url 'account_reset_password' %}">{% trans "I forgot my password/username" %}</a>


        </div>
    </div>


{% endblock %}


