git+https://github.com/Ecotrust/bayesian-belief-networks.git@master#egg=bayesian
pillow
django==1.7.5
djangorestframework<3.0
jsonfield
djangorestframework-gis==0.7
django-allauth
django-redis-sessions
django-redis
django-redis-cache
django-silk
django-filter
# django-flatblocks==0.8
# git+https://github.com/funkybob/django-flatblocks.git@master#egg=flatblocks
geopy==1.7.1
reportlab
PyPDF2
numpy
pdfkit
django-wkhtmltopdf

# Testing
ipdb
ipython
ipdbplugin
django-nose
coverage
coveralls
