bayesian
pillow
-e git+https://github.com/django/django.git@stable/1.7.x#egg=django17
djangorestframework
jsonfield
djangorestframework-gis
django-allauth
django-redis-sessions
django-redis
django-silk