/*
    "Black": #262223;
    "Green": #00a551;
    "Blue": #094ca0;
    "Text Gray": #84847d;
    "Divider Gray": #a6a8ab;
    "Light Gray": #e7e7e7;
    "Light Gray Hover": #f6f7f8;
*/

body {
    padding-top: 51px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #e7e7e7;
    font-family: "Agenda", Arial;
    font-size: 16px;
    color: #84847d;
}

h1 {
    color: #094ca0;
    font-family: "Agenda", Arial;
    margin-top: 80px;
}

a {
    color: #00a551;
}

a:hover {
    text-decoration: none;
    color: #094ca0;
}

hr {
    border-top-color: #b1b3b5;
}

.dropdown {
    border-bottom: solid #f6f7f8;
}

.dropdown:hover, 
.navbar-nav>li:hover {
    background-color: #e7e7e7;
    border-bottom: solid;
    border-bottom-color: #094ca0;
}

.dropdown-toggle,
.dropdown-menu {
    width: 160px;
}

.dropdown-toggle {
    text-align: center;
}

.dropdown-menu {
    background-color: #094ca0;
    padding: 15px 15px;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu .divider {
    background-color: #a6a8ab;
}

.accounts-page {
    text-align: center;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover {
    color: #00a551;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover {
    cursor: pointer;
    color: #094ca0;
}

.footer {
    color: #262223;
    font-weight: normal;
    font-size: 16px;
    font-family:"Rotis Serif", Georgia;
}

a.footer:hover {
    text-decoration: none;
}

.middot {
    font-weight: bold;
    font-size: 16px;
}

.account-submit-btn {
    margin: 30px;
    border-color: #00a551;
    padding: 8px 25px;
    color: #262223;
    background-color: #e7e7e7;
}

.account-submit-btn:hover {
    background-color: #f6f7f8;
}

.green {
    color: #00a551;
}

.signup p {
    margin-left: 33%;
    text-align: left;
}

.errorlist {
    background-color: lightyellow;
    border:solid red 1px;
    color: #262223;
}