<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.2.0+2/simplex/bootstrap.css"> -->
    <!-- endbuild -->


    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/vendor/ol.css" type="text/css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-app="uiApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">    
            <a class="navbar-brand" href="#" > 
              <span class="glyphicon glyphicon-stats"></span> &nbsp;&nbsp; 
              <span ng-bind="content.title">Floodplain Gravel Mine Restoration</span>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
              <li>
                <p class="active-site-name">{{ activeSiteName }}</strong>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  Property <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#/help/documents">Documents</a></li>
                  <li><a href="#/site/new">Add a property</a></li>
                  <li><a href="#/sites">List of all properties</a></li>
                  <li class="divider"></li>
                  <li><a>Property 1</a></li>
                  <li><a>Property 2</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  Survey <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a>Water Quality</a></li>
                  <li><a>Hydrology</a></li>
                  <li><a>Water Rights</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  Help <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#/help/about">About the Tool</a></li>
                  <li><a href="#/help/resources">Links to Resources</a></li>
                  <li><a href="#/help/faq">Frequently Asked Questions</a></li>
                </ul>
              </li>

              <li ng-if="!userName">
                <a href="http://{{ baseUrl }}/accounts/login" class="dropdown-toggle">
                  <span class="glyphicon glyphicon-user"></span>
                  Log In
                </a> 
              </li>

              <li ng-if="userName" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> {{userName}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="http://{{ baseUrl }}/accounts/logout">Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="row" >
        <div class="col-md-6 left-panel" ng-view=""></div>
        <div class="col-md-6 map-container">
          <div class="map" id="map"></div>
        </div>
      </div>

    </div>
    
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->




        <script src="scripts/vendor/ol.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <script src="scripts/services/sitefactory.js"></script>
        <script src="scripts/services/questionfactory.js"></script>
        <script src="scripts/services/contentfactory.js"></script>

        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/sitelist.js"></script>
        <script src="scripts/controllers/sitedetail.js"></script>
        <script src="scripts/controllers/siteedit.js"></script>
        <script src="scripts/controllers/pitedit.js"></script>
        <script src="scripts/controllers/survey.js"></script>
        <script src="scripts/controllers/surveydone.js"></script>
        <script src="scripts/controllers/report.js"></script>
        <script src="scripts/controllers/help.js"></script>

        <script src="scripts/filters/digits.js"></script>
        <script src="scripts/filters/percentage.js"></script>

        <script src="scripts/map.js"></script>
        <!-- endbuild -->

        <!-- TODO auth -->
        <!-- <script src="sessions/auth.js"></script> -->
        <script src="http://localhost:8000/sessions/auth.js"></script>


</body>
</html>
