<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/thirdparty/ol.css" type="text/css">
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-app="uiApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a ng-href="#/sites">Property List</a></li>
          <li><a ng-href="#/help/about">Help</a></li>
          <li ng-if="userName">
              <a ng-href="http://localhost:8000/accounts/logout"><span class="glyphicon glyphicon-user"></span> {{userName}} (Log Out)</a>
          </li>
          <li ng-if="!userName">
              <!-- TODO auth -->
              <!--
              <a ng-href="{{ baseurl }}/accounts/login">
                <span class="glyphicon glyphicon-user"></span>
                Log In
              </a>
              -->
              <a ng-href="http://localhost:8000/accounts/login">
                <span class="glyphicon glyphicon-user"></span>
                Log In
              </a>

          </li>
        </ul>
        <h3 class="text-muted">
          <a href="#/">Floodplain Gravel Mine Restoration</a>
          <span class="label label-info">{{ activeSiteName }}</span>
        </h3>
      </div>

      <div class="row" >
        <div class="col-md-6" ng-view=""></div>
        <div class="col-md-6">
          <div class="map" id="map"></div>
        </div>
      </div>

    </div>
    
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="scripts/thirdparty/ol.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/sitefactory.js"></script>
        <script src="scripts/controllers/sitelist.js"></script>
        <script src="scripts/controllers/sitedetail.js"></script>
        <script src="scripts/controllers/siteedit.js"></script>
        <script src="scripts/controllers/pitedit.js"></script>
        <script src="scripts/controllers/survey.js"></script>
        <script src="scripts/controllers/surveydone.js"></script>
        <script src="scripts/controllers/report.js"></script>
        <script src="scripts/controllers/help.js"></script>
        <script src="scripts/services/questionfactory.js"></script>
        <!--
        // <script src="scripts/controllers/map.js"></script>
        -->
        <!-- endbuild -->
        <script>
          var map = {
            site: {},
            pit: {}
          };

          // ---------------------------------------------------------------- //
          map.loadSites = function(data) {

            if (!data || data.type !== 'FeatureCollection') {
              console.log("ERROR in data supplied to map.loadSites:", data)
              return false;
            }
            map.map.removeLayer(map.site.layer);

            map.site.source = new ol.source.GeoJSON(
              ({
                object: data
              })
            );

            map.site.style = function() {
              return [new ol.style.Style({
                stroke: new ol.style.Stroke({
                  color: 'black',
                  lineDash: [3],
                  width: 1
                }),
                fill: new ol.style.Fill({
                  color: 'rgba(255, 255, 255, 0.2)'
                })
              })];
            };

            map.site.layer = new ol.layer.Vector({
              source: map.site.source,
              style: map.site.style
            });

            map.map.addLayer(map.site.layer);
            map.map.getView().fitExtent(map.site.source.getExtent(), map.map.getSize());
          };

          // ---------------------------------------------------------------- //
          map.loadPits = function(data) {

            if (!data || data.type !== 'FeatureCollection') {
              console.log("ERROR in data supplied to map.loadPits:", data)
              return false;
            }
            map.map.removeLayer(map.pit.layer);

            map.pit.source = new ol.source.GeoJSON(
              ({
                object: data
              })
            );

            map.pit.style = function() {
              return [new ol.style.Style({
                stroke: new ol.style.Stroke({
                  color: 'black',
                  //lineDash: [3],
                  width: 1
                }),
                fill: new ol.style.Fill({
                  color: 'rgba(255, 255, 100, 0.4)'
                })
              })];
            };

            map.pit.layer = new ol.layer.Vector({
              source: map.pit.source,
              style: map.pit.style
            });

            map.map.addLayer(map.pit.layer);
          };

          map.clear = function() {
            map.map.removeInteraction(map.modifySite);
            map.map.removeLayer(map.pit.layer);
            map.map.removeLayer(map.site.layer);
          };

          map.wktFormat = new ol.format.WKT();

          map.editSite = function() {
            map.modifySite = new ol.interaction.Modify({
              features: new ol.Collection(map.site.source.getFeatures()),
              deleteCondition: function(event) {
                return ol.events.condition.shiftKeyOnly(event) &&
                    ol.events.condition.singleClick(event);
              }
            });
            map.map.addInteraction(map.modifySite);
          };

          map.getActiveSiteWkt = function() {
            var features = map.site.source.getFeatures();
            var geom = features[0].getGeometry();
            var geomwkt = map.wktFormat.writeGeometry(geom);
            return geomwkt;
          };

          // map.zoomToPit = function() {
          //   map.map.getView().fitExtent(map.pit.source.getExtent(), map.map.getSize());
          // };

          // ---------------------------------------------------------------- //
          map.map = new ol.Map({
            target: 'map',
            layers: [
              new ol.layer.Tile({
                source: new ol.source.MapQuest({layer: 'osm'})
              })
            ],
            view: new ol.View({
              center: ol.proj.transform([-122, 44], 'EPSG:4326', 'EPSG:3857'),
              zoom: 7
            })
          });
        </script>

        <!-- TODO auth -->
        <!--
        <script src="sessions/auth.js"></script> 
        -->
        <script src="http://localhost:8000/sessions/auth.js"></script>

</body>
</html>
