<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/cerulean/bootstrap.min.css">

	<style>
	 td.True { width: 75px; height:22px;}
	 td.False { width: 75px; }
	 td { text-align: center; width: 75px;}
	 input.form-control {width: 55px !important;}
	 input.form-slider {width: 125px !important;}
	 body { padding-left: 18px; padding-top: 2px;}
	.table>tbody>tr>td, .table>tfoot>tr>td {
	 padding: 2px;
	 .res { width: 85px; padding:16px; background-color: #ccc;}
	}
	.form-control { height: 26px;}
	</style>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

	<script>
	$( document ).ready(function() {
		//$("input").change(function(event) {
		$("input").on('change keyup', function(event) {
			var d = $("#mainform" ).serialize();
	        event.preventDefault();
	        $.ajax({
			  dataType: 'json',
			  url: '/query',
			  data: d,
			  error: function (data) {
	              console.log("Error");
			  },
			  success: function (data) {
	              $("#results").html(data['restore']);
			  }
	        });
		});
    });
	</script>
</head>
<body>
	<h1> Gravel Mine Restoration Bayesian Decision Model </h1>
	<div class="row">
    <form role="form" class="form-horizontal" id="mainform" action="test.html">
    <div class="col-md-2">
          {% for item in user_data1%}
		  <div class="form-group">
		    <label for="{{item.0}}">{{item.0}}</label>
		    <!-- <p> Desc </p> -->
		    <input name="{{item.0}}" type="range" min="0" max="100" class="form-slider" step="10" id="{{item.0}}" value="{{item.1 * 100}}">
		  </div>
		  {% endfor %}
    </div>
    <div class="col-md-2">
          {% for item in user_data2 %}
		  <div class="form-group">
		    <label for="{{item.0}}">{{item.0}}</label>
		    <!-- <p> Desc </p> -->
		    <input name="{{item.0}}" type="range" min="0" max="100" class="form-slider" step="10" id="{{item.0}}" value="{{item.1 * 100}}">
		  </div>
		  {% endfor %}
    </div>
    <div class="col-md-2">
          {% for item in user_data3 %}
		  <div class="form-group">
		    <label for="{{item.0}}">{{item.0}}</label>
		    <!-- <p> Desc </p> -->
		    <input name="{{item.0}}" type="range" min="0" max="100" class="form-slider" step="10" id="{{item.0}}" value="{{item.1 * 100}}">
		  </div>
		  {% endfor %}
    </div>
    <div class="col-md-2">
          {% for item in user_data4 %}
		  <div class="form-group">
		    <label for="{{item.0}}">{{item.0}}</label>
		    <!-- <p> Desc </p> -->
		    <input name="{{item.0}}" type="range" min="0" max="100" class="form-slider" step="10" id="{{item.0}}" value="{{item.1 * 100}}">
		  </div>
		  {% endfor %}
    </div>
    </form>
    <div class="col-md-4">
		<div class="jumbotron res col-md-6">
			<h3> Suitability </h3>
		    <h1 id="results">--</h1>
        </div>
    </div>
</div>
</body>
</html>
