{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//cloud.webtype.com/css/89204a89-7163-455e-b3dc-8a183cbe44e0.css" rel="stylesheet" type="text/css" />
    <title>{% block head_title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/static/account.css"></link>
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.2.0+2/cosmo/bootstrap.css"></link>-->
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}


    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">    
            <a class="navbar-brand" href="/#" > 
              <span class="glyphicon glyphicon-stats"></span> &nbsp;&nbsp; 
              <span ng-bind="content.title">Floodplain Gravel Mine Restoration</span>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li>
                <a href="{% url 'account_email' %}">Change E-mail</a>
              </li>
              <li>
                <a href="{% url 'account_logout' %}">Sign Out</a>
              </li>
              {% else %}

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span>
                  Log in <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{% url 'account_login' %}">
                      LOG IN
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="{% url 'account_signup' %}">
                      REGISTER
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    {% if messages %}
    <div class="container">
      <div class="alert alert-dismissable alert-warning">
        <strong>Messages:</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
      <div class="accounts-page">
      {% block content %}
      {% endblock %}
      {% endblock %}
      {% block extra_body %}
      {% endblock %}
      </div>
    </div>
  </body>
</html>
