.map {
  width: 100%;
  height: 100%;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  padding-top: 51px;  /* navbar is 50px by default */ 
  overflow:hidden;
  font-family: "Agenda", Arial;
  background-color: #e6e7e8;
}

h2, p {
  color: #FFF;
}

h3 {
  color: #094ca0; /* blue */
  font-size: 36px;
}

h4 {
  color: #094ca0; /* blue */
}

p {
  font-family:"Rotis Serif", Georgia;
}

i, em, cite {
  font-family: "Rotis Serif Italic", "Georgia Italic", Georgia;
  font-style: normal; /* This is important! Otherwise, faux italic italics. Terrible. */
}

a:hover {
  color: #00a551; /* Green */
  text-decoration: none;
}

hr {
  border-top: 1px solid #ccc;
}

.disabled,
.disabled:hover {
  color: #BBB;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation 
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
*/

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover {
    color: #00a551;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover {
    cursor: pointer;
    color: #094ca0;
}

.dropdown {
    border-bottom: solid #f6f7f8;
}

.dropdown:hover,
.navbar-nav>li:hover {
    background-color: #e7e7e7;
    border-bottom: solid;
    border-bottom-color: #094ca0;
}

.dropdown-toggle,
.dropdown-menu {
    width: 160px;
}

.dropdown-toggle {
    text-align: center;
}

.dropdown-menu {
    background-color: #094ca0;
    padding: 15px 15px;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu .divider {
    background-color: #a6a8ab;
}

.dropdown-menu > li > a {
    padding: 3px 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  bottom: 0;
/*  border-top: 1px solid #e5e5e5; */
}

/* Customize container */
@media (min-width: 1024px) {
  .container {
    /*max-width: 996px;*/
    width:100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron .btn-primary {
  background-color: transparent;
  /*background-color: rgba(9,76,160,0.3);*/

  border-color: #FFF;
  border-radius: 0;
  border-width: 2px;
}

.jumbotron .btn-primary:hover {
  background-color: rgb(125,125,125);
  background-color: rgba(0,181,51,0.3); /* green */
}

.glyphicon-play-circle{
  margin-left: 20px;
}
.glyphicon-plus-sign,
.glyphicon-minus-sign {
  margin: 0 10px;
}
.glyphicon-plus-sign,
.glyphicon-minus-sign {
  color: #00a551;
}

.jumbotron h2,
.jumbotron p {
  /*background: rgb(9,76,160);*/
  /*background: rgba(9,76,160,0.3);*/
  border-radius: 15px;
}

.jumbotron .attribution {
  margin-top: 90px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  /*background: rgba(9,76,160,0.6);*/
}

.property-box {
  background-color: #f8f8f8;
  padding: 10px;
  margin:15px auto;
}


.property-details,
.property-survey,
.property-edit{
  border-right: 2px solid #CCC;
  height: 40px;
}

.property-survey,
.property-delete,
.property-edit,
.property-details{
  padding-top: 10px;
  text-align: center;
}

.prop-action{
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
}

.prop-list-details >p {
  color: #000;
}

.pit-info {
  border-bottom: solid #CCC 1px;
}

.pit-info p {
  color: #000;
  font-size: 24px;
}

.pit-info-row .btn-group {
  margin-top: 5px;
}

.pit-info-link:hover {
  background-color: #eee;
}

.bottom-buttons {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.numberCircle {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */

  width: 24px;
  height: 24px;
  padding: 4px;
  margin: 6px;

  background: #fff;
  border: 2px solid #777;
  color: #555;
  text-align: center;

  font: 18px Arial, sans-serif;
}

.bar {
  color: blue;
  display: block;
  border: 1px gray solid;
}

.navbar-left {
  margin-left: 28px;
}

.active-site-name {
  padding-top: 20px;
  font: 16px Arial, sans-serif;
  color: #999;
}

.left-panel {
  padding-left: 18px;
  overflow: auto;
}

 .left-panel-content {
  margin-bottom: 30px;
  padding-bottom: 30px;
 }

.homepage-content {
  background-image: url('../images/bulldozer.jpg');
  /* image from dam under CC 3.0: 
  http://dam.ecotrust.org/pages/view.php?ref=7263&k=&search=stream&offset=0&order_by=relevance&sort=DESC&archive=0;*/
  background-repeat:no-repeat;
  background-position:10% 85%;  /* For bulldozer photo */
  background-size: 800px 600px;  /* For bulldozer photo */
  /*background-position:50% 25%;*/  /* For Waite Ranch photo */
  /*background-size: 816px 1088px;*/  /* For Waite Ranch photo */
}

.homepage-content p{
  letter-spacing: 1px;
  font-size: 16px;
}

.map-container {
  margin:0;
  padding:0;
  overflow:hidden;
  border-left:1px #ccc solid;
  padding-right: 1px;
  padding-left: 0; 
}

.slide.ng-enter, .slide.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.slide.ng-enter { }        /* starting animations for enter */
.slide.ng-enter.ng-enter-active { } /* terminal animations for enter */
.slide.ng-leave { }        /* starting animations for leave */
.slide.ng-leave.ng-leave-active { } /* terminal animations for leave */