
.map {
  width: 100%;
  height: 100%;
}

/* Space out content a bit */
body {
  padding-top: 51px;  /* navbar is 50px by default */ 
  overflow:hidden;
  font-family: "Agenda", Arial;
  background-color: #e6e7e8;
}

h2, .homepage-item>p {
  color: #FFF;
}

h3 {
  color: #094ca0; /* blue */
  font-size: 36px;
  line-height: normal;
}

h4 {
  color: #094ca0; /* blue */
}

h5 {
  color: #999;
}

p {
  color: #094ca0; /* blue */
  font-family:"Rotis Serif", Georgia;
}

i, em, cite {
  font-family: "Rotis Serif Italic", "Georgia Italic", Georgia;
  font-style: normal; /* This is important! Otherwise, faux italic italics. Terrible. */
}

a {
  color: rgb(9,76,160);
}

a:hover {
  color: #00a551; /* Green */
  text-decoration: none;
}

hr {
  border-top: 1px solid #ccc;
}

.no-padding {
  padding: 0;
}

.capitalize {
    text-transform: capitalize;
}

.disabled,
.disabled:hover {
  color: #BBB;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation 
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
*/

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover {
    color: #00a551;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover {
    cursor: pointer;
    color: #094ca0;
}

.dropdown {
    border-bottom: solid #f6f7f8;
}

.dropdown:hover,
.navbar-nav>li:hover {
    background-color: #e7e7e7;
    border-bottom: solid;
    border-bottom-color: #094ca0;
}

.dropdown-toggle,
.dropdown-menu {
    width: initial;
}

.dropdown-toggle {
    text-align: center;
}

.dropdown-menu {
    background-color: #094ca0;
    padding: 15px 15px;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu .divider {
    background-color: #a6a8ab;
}

.nav-dd {
  width: 230px;
  cursor: pointer;
  border-bottom: solid 1px gray;
  padding: 10px 10px 10px 10px;
  color: white;
}

.nav-dd:hover {
  background-color: #073878;
}

.dd-menu-fill {
  width: 100%;
  height: 100%;
}

.survey-dd-option {
  color: white;
  font-size: 16px;
  font-family: "Agenda", Arial;
}

.last-dd {
  border-bottom: none;
}

.survey-question-dd {
  width: 175px;
}

.survey-question-dd > .nav-dd {
  width: 100%;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  bottom: 0;
/*  border-top: 1px solid #e5e5e5; */
}

/* Customize container */
@media (min-width: 1024px) {
  .container {
    /*max-width: 996px;*/
    width:100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.btn-default {
  border: 2px solid #00a551;
  background-color: transparent;
  /*border-color: ;*/
  border-radius: 0;
  margin: 0 10px;
}

.btn-default:hover {
  background-color: #00a551;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron .btn-primary {
  background-color: transparent;

  border-color: #FFF;
  border-radius: 0;
  border-width: 2px;
}

.jumbotron .btn-primary:hover {
  background-color: rgb(125,125,125);
  background-color: rgba(0,181,51,0.3); /* green */
}

.glyphicon-play-circle{
  margin-left: 20px;
}
.glyphicon-plus-sign,
.glyphicon-minus-sign {
  margin: 0 10px;
}
.glyphicon-plus-sign,
.glyphicon-minus-sign {
  color: #00a551;
}

.jumbotron h2,
.jumbotron p {
  border-radius: 15px;
}

.jumbotron .homepage-item {
  width: 100%;
  text-align: center;
  position: absolute;
}

.homepage-link {
  color: #FFF;
  text-decoration: underline;
  font-weight: bold;
  margin: 20px;
}

.homepage-link:hover {
  color: #00a551;
}

.jumbotron .get-started-row {
  top: 40%;
}

.get-started-btn {
  margin-bottom: 20px;
}

.jumbotron .attribution {
  font-size: 14px;
  bottom: 10%;
}

.homepage-fill {
  width: 70%;
  height: 90%;
  margin: 0 auto;
  position: relative;
  background: rgb(100,100,100);
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}

.property-box {
  background-color: #f8f8f8;
  padding: 10px;
  margin:15px auto;
  border: solid #aaa 1px;
  box-shadow: 0px 0px 10px #aaa;
}

.bar-right {
  border-right: 2px solid #CCC;
  height: 40px;
}

.property-box-hr {
  margin: 5px 5px 3px 5px;
}

.property-pit-box {
  margin: 20px auto;
}

.no-pits {
  margin-left: 20px;
  color: black;
}

.property-box-pit-name {
  font-size: 22px;
  margin-bottom: 0;
}

.property-box-pit-status {
  font-size: 11px;
  font-family: "Agenda", Arial;
}

.property-box-pit-status > .green-text {
  background-color: transparent;
}

.property-box-pit-hr {
  margin-top: 0;
}

.property-survey,
.property-delete,
.property-edit,
.property-details{
  padding-top: 10px;
  text-align: center;
}

.prop-action{
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.prop-list-details > p {
  color: #000;
  margin-left: 20px;
}

.pit-info {
  border-bottom: solid #CCC 1px;
}

.pit-label {
  color: #000;
  font-size: 24px;
}

.pit-info-row .btn-group {
  margin-top: 15px;
}

.pit-info-link:hover {
  background-color: #eee;
}

.pit-details {
  font-size: 14px;
  color: #84847d;
}

.bottom-buttons {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.pit-question-label {
  font-size: 16px;
  margin: 15px auto 6px 15px;
}

.pit-question-info {
  font-size: 12px;
  margin-left: 8px;
}

.pit-edit-field {
  margin: 2px auto;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.survey-content,
.table-container {
  display: table;
  height: 100%;
  width: 100%;
}

.survey-row,
.table-row {
  display: table-row;
}

.survey-col,
.table-cell {
  display: table-cell;
  float: none;
}

.survey-nav-col {
  vertical-align: middle;
}

.survey-question-header {
  margin-top: 35px;
  color: #84847d;
  font-family: "Agenda", Arial;
}

.question {
  color: #094ca0;
  font-size: 24px;
  font-family: "Agenda", Arial;
  margin: 25px 5px;
}

.numberCircle {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */

  width: 24px;
  height: 24px;
  padding: 6px;
  margin: 6px;

  background: transparent;
  border: 2px solid #094ca0;
  color: #84847d;
  text-align: center;

  font: 14px Arial, sans-serif;
}

.survey-choice {
  color: #094ca0;
  padding-left: 37px;
  text-indent: -37px;
}

.radio-span {
  margin: 0 15px;
}

.survey-info-icon {
  margin: 5px;
}

.question-detail {
  margin: 15px 0;
  color: #84847d;
}

.survey-nav {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */

  width: 24px;
  height: 24px;

  background: #fafafa;
  border: 2px solid #fafafa;
  color: #00a551;
  text-align: center;
  cursor: pointer;
}

.survey-nav-icon {
  font-size: 12px;
  transform:scale(0.7,1); /* W3C */
  -webkit-transform:scale(0.7,1); /* Safari and Chrome */
  -moz-transform:scale(0.7,1); /* Firefox */
  -ms-transform:scale(0.7,1); /* IE 9 */
  -o-transform:scale(0.7,1); /* Opera */
}

.survey-nav-back {
  padding: 4px 0;
  margin-left: -2px;
  transform: rotate(-180deg) scale(0.7,1);
  -moz-transform: rotate(-180deg) scale(0.7,1);
  -webkit-transform: rotate(-180deg) scale(0.7,1);
  -ms-transform: rotate(-180deg) scale(0.7,1);
  -o-transform: rotate(-180deg) scale(0.7,1);
}

.survey-nav-forward {
  margin-left: -10px;
}

.survey-status-summary {
  font-size: 12px;
  color: #84847d;
}

.survey-status-icon {
  color: #00a551;
  margin-right: 10px;
}

.progress {
  border: solid #A9A9A9 1px;
  background-color: #FFF;
  margin: 6px 0 0 0;
  height: 8px;
}

.progress-bar {
  background-color: #00a551;
}

.survey-status-bar {
  border: solid #00a551 2px;
  background-color: transparent;
  width: 100%;
  height: 15px;
}

.survey-status-span {
  position: absolute;
  background-color: #00a551;
  padding: 2px 0;
  font-size: 5px;
}

.mini-status-bar {
  border: solid #00a551 1px;
  background-color: transparent;
  width: 100%;
  height: 8px;
  margin: 8px auto auto 20px;
}

.mini-status-span {
  padding: 2px 0;
  font-size: 2px;
}

.property-box-question-status {
  color: gray;
  font-size: 10px;
}

.property-box-pit-status {
  font-size: 11px;
}

.notes-box {
  margin-top: 10px;
  width: 100%;
}

.bar {
  color: blue;
  display: block;
  border: 1px gray solid;
}

.navbar-left {
  margin-left: 28px;
}

.active-site-name {
  padding-top: 20px;
  font: 16px Arial, sans-serif;
  color: #999;
}

.left-panel-column {
  height: 100%;
  overflow: auto;
}

.left-panel {
  padding-left: 18px;
  padding-right: 15px;
}

 .left-panel-content {
  margin-bottom: 30px;
  padding-bottom: 30px;
 }

#homepage-container {
  height: 100%;
}

.homepage-content {
  background-image: url('../images/bulldozer.jpg');
  /* image from dam under CC 3.0: 
  http://dam.ecotrust.org/pages/view.php?ref=7263&k=&search=stream&offset=0&order_by=relevance&sort=DESC&archive=0;*/
  background-repeat:no-repeat;
  background-position:0 80%;  /* For bulldozer photo */
  background-size: 1400px 1050px;  /* For bulldozer photo */
  /*background-position:50% 25%;*/  /* For Waite Ranch photo */
  /*background-size: 816px 1088px;*/  /* For Waite Ranch photo */
  height: 100%;
  margin-bottom: 0;
  position: relative;
}

.homepage-content p{
  letter-spacing: 1px;
  font-size: 16px;
}

.map-container {
  margin:0;
  padding:0;
  overflow:hidden;
  border-left:1px #ccc solid;
  padding-right: 1px;
  padding-left: 0; 
}

.slide.ng-enter, .slide.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.slide.ng-enter { }        /* starting animations for enter */
.slide.ng-enter.ng-enter-active { } /* terminal animations for enter */
.slide.ng-leave { }        /* starting animations for leave */
.slide.ng-leave.ng-leave-active { } /* terminal animations for leave */

.help-panel {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.blue-text {
  color: #094ca0;
}

.green-text {
  color:  #00a551;
  background-color: rgb(230, 231, 232);
  border-radius: 8px;
  padding: 1px;
  /*margin: 3px;*/
}

.report-toggle-icon {
  float: right;
  margin-top:6px;
  margin-right: 9px;
}

.padded-box {
  padding: 30px;
}

.definitions {
  margin-top: 75px;
}

.definition-term {
  font-weight: bold;
}

.document-list-item {
  margin: auto 30px;
  font-size: 14px;
}

.document-list-hr {
  margin: 7px auto;
}

.suitability-scores {
  margin: 0 45px;
}

.suitability-score>p {
  color: black;
  font-family: "Agenda", Arial;
}

.suitability-label {
  font-weight: bold;
  font-size: 30px;
}

.suitability-rank {
  font-family: "Rotis Serif", Georgia;
  font-size:28px;
}

.suitability-row {
  margin: 0 0 15px 0;
}

.suitability-bar {
  margin-bottom: 15px;
  text-align: right;
  padding: 5px;
  min-height: 15px;
}

.unsuitable {
  background-color: gray;
}

.moderately-suitable {
  background-color: yellow;
}

.highly-suitable {
  background-color: #49f;
}

.map-placeholder {
  color: white;
  font-size: 35px;
  text-align: center;
  border: solid 1px black;
  height: 400px;
  /*background-color: blue;*/
  background-image: url('../images/map-example.png');
  background-size: 900px 600px;
  padding-top: 50px;
}

@media (min-width: 1000px) {
  .map-placeholder {
    background-size: 1200px 800px;  /* For map photo */
  }
}

@media (min-width: 1200px) {
  .map-placeholder {
    background-size: 1500px 900px;  /* For map photo */
  }
}

.report {
  padding: 45px;
}

.report-header {
  margin-top: 25px;
  padding: 10px 50px 25px 50px;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: white;
}

.report-name {
  margin-bottom: 25px;
}

.report-property {
  font-weight: normal;
  font-family: "Rotis Serif", Georgia;
  margin-left: 10px;
}

.report-buttons {
  margin-top: 25px;
}

.report-intro {
  margin-top: 20px;
  font-weight: normal;
  font-family: "Rotis Serif", Georgia;
  color: gray;
}

.pit-row {
  margin-top: 40px;
}

.report > .row > .bar-right {
  height: 100%;
}

.report-pit-container {
  padding: 15px;
  text-align: center;
}

.report-pit-container:hover {
  background: lightgray;
  cursor: pointer;
}

.report-pit-container:hover > .report-pit-name {
  color: #00a551;
}

.report-pit-name {
  color: black;
  font-size: 16px;
  margin-bottom: 0;
}

.report-pit-info {
  font-size: 10px;
  color: gray;
  font-family: "Agenda", Arial;
}

.report-content > .row > .col-md-12 > hr {
  border-color: black;
}

.report-score {
  color: black;
  font-family: "Agenda", Arial;
  margin: 12px auto;
  font-size: 16px;
}

.report-graphic {
  margin: -20px;
}

.report-context-container {
  font-family: "Agenda", Arial;
}

.report-context-title {
  font-size: 25px;
  cursor: pointer;
  color: black;
  padding: 0 5px;
  margin: 7px 10px;
  border-radius: 6px;
}

.report-context-title:hover {
  background-color: lightgray;
}

.report-context-title .green-text {
  font-size: 14px;
}

.report-component-selected {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px gray;
}

.report-question-row {
  margin: 20px auto;
}

.report-question {
  color: #094ca0;
  font-size: 22px;
  font-family: "Agenda", Arial;
}

.report-answer {
  font-family: "Agenda", Arial;
  color: #00a551;
  font-weight: bold;
  font-size: 24px;
}

.report-answer-unanswered {
  color: red;
}

.report-question-notes {
  border: solid 1px black;
  font-family: "Rotis Serif", Georgia;
  color: black;
  padding: 10px;
  margin-bottom: 30px;
}

.report-question-notes-header {
  font-size: 12px;
  color: gray;
}

.report-question-notes-text {
  color: black;
}

@media (max-width: 991px) {
  body {
    overflow-y: auto;
  }

  /*#left-container {
    overflow-y: hidden;
  }*/

  #map-container {
    margin-top: 35px;
  }

}

@media (min-width: 1400px) {
  .homepage-content {
    background-size: 2000px 1500px;  /* For bulldozer photo */
  }
}

/* From msurguy at http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3 */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    /*margin-left: -1px;*/
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.ol-top-container {
  position: absolute;
  z-index: 1;
  min-width: 250px;
  margin-left: 40px;
  margin-top: 7px;
  padding: 6px;
  padding-right: 55px;
  visibility: hidden;
}

.layer-switcher {
  top: 10px;
  z-index: 2;
}

.layer-switcher>.panel {
  margin-bottom: 0;
}

.tachometer-base {
  height: 100px;
  width: 100px;
  margin: -20px -20px -10px -20px;

}

.tachometer-needle {
  height: 100px;
  width: 100px;
  margin-left: -84px;
}

.tachometer-base-pit {
  height: 60px;
  width: 60px;
  margin: -12px -12px -20px -12px;

}

.tachometer-needle-pit {
  height: 60px;
  width: 60px;
  margin: 0 0 -14px -53px;
}

.suitability-rank-pit {
  font-family: "Rotis Serif", Georgia;
  font-size:20px;
  margin-left: 15px;
}

.report-map {
  width: 80%;
  height: 450px;
  margin: 15px auto 0 auto;
  border: solid 3px gray;
}