<div class='left-panel'>
  <div class='left-panel-content'>
    <h3>
        <span ng-if="activePitId">
            Editing <span class="label label-info">{{pit.properties.name}}</span> from <span class="label label-info">{{site.properties.name}}</span>
        </span>
        <span ng-if="!activePitId">
            Creating new pit for <span class="label label-info">{{site.properties.name}}</span>
        </span>
    </h3>
    <h4 ng-bind="content.pitDisclaimer">{{pitDisclaimer}}</h4>
    <h4 ng-if="activePitId" ng-bind="content.pitEditDirections">{{pitEditDirections}}</h4>
    <h4 ng-if="!activePitId" ng-bind="content.pitCreateDirections">{{pitEditDirections}}</h4>

    <div>
      <form novalidate name="pitForm" class="form-horizontal" role="form">
          <div class="property-box row">
              <div class="form-group col-sm-12">
                <div ng-repeat="question in pitFormObj.form" ng-show="question.visible">
                    <div title="{{question.info}}" >
                      <label for="question.id" class="pit-question-label" ng-bind-html="question.question">
                      </label>
                      <span ng-if="question.info!=null" class="glyphicon glyphicon-info-sign pit-question-info" aria-hidden="true" ng-click="$event.stopPropagation()"></span>

                    </div>
                    <div class="row">
                      <div class="col-sm-11 col-sm-offset-1">
                          <input type="text" class="form-control" id="{{question.id}}" ng-model="pit.properties[question.id]" required ng-if="question.type=='text'">
                          <select class="form-control" id="{{question.id}}" ng-model="pit.properties[question.id]" required ng-if="question.type=='select'">
                              <option ng-repeat="opt in question.answers" value="{{opt.value}}">  {{opt.label}}
                              </option>
                          </select>
                          <textarea type="text" class="form-control" id="{{question.id}}" ng-model="pit.properties[question.id]" ng-if="question.type=='textarea'"></textarea>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          <div class="pull-right bottom-buttons">
            <a class="btn btn-default" href="#/site/{{ site.id }}">Cancel</a>
            <button class="btn btn-default" ng-click="save()">Save</button>
          </div>
      </form>

    </div>
  </div>
</div>
