<div class='left-panel'>
  <div class='left-panel-content'>
    <h3>
        <span ng-if="activePitId">
            Editing <span class="label label-info">{{pit.properties.name}}</span> from <span class="label label-info">{{site.properties.name}}</span>
        </span>
        <span ng-if="!activePitId">
            Creating new pit for <span class="label label-info">{{site.properties.name}}</span>
        </span>
    </h3>
    <h4>{{pitEditDirections}}</h4>

    <div>
      <form novalidate name="pitForm" class="form-horizontal" role="form">

          <div class="property-box">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Name</label>
                <div class="col-sm-8 pit-edit-field">
                  <input type="text" class="form-control" id="name" ng-model="pit.properties.name" required>
                </div>

                <label for="contamination" class="col-sm-4 control-label">contamination</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="contamination" ng-model="pit.properties.contamination" required>
                </div>

                <label for="substrate" class="col-sm-4 control-label">substrate</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="substrate" ng-model="pit.properties.substrate" required>
                </div>

                <label for="adjacent_river_depth" class="col-sm-4 control-label">adjacent_river_depth</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="adjacent_river_depth" ng-model="pit.properties.adjacent_river_depth" required>
                </div>

                <label for="slope_dist" class="col-sm-4 control-label">slope_dist</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="slope_dist" ng-model="pit.properties.slope_dist" required>
                </div>

                <label for="pit_levies" class="col-sm-4 control-label">pit_levies</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="pit_levies" ng-model="pit.properties.pit_levies" required>
                </div>

                <label for="bedrock" class="col-sm-4 control-label">bedrock</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="bedrock" ng-model="pit.properties.bedrock" required>
                </div>

                <label for="bank_slope" class="col-sm-4 control-label">bank_slope</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="bank_slope" ng-model="pit.properties.bank_slope" required>
                </div>

                <label for="pit_depth" class="col-sm-4 control-label">pit_depth</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="pit_depth" ng-model="pit.properties.pit_depth" required>
                </div>

                <label for="surface_area" class="col-sm-4 control-label">surface_area</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="surface_area" ng-model="pit.properties.surface_area" required>
                </div>

                <label for="complexity" class="col-sm-4 control-label">complexity</label>
                <div class="col-sm-8 pit-edit-field">
                <input type="text" class="form-control" id="complexity" ng-model="pit.properties.complexity" required>
                </div>

                <label for="notes" class="col-sm-4 control-label">Notes</label>
                <div class="col-sm-8 pit-edit-field">
                <textarea type="text" class="form-control" id="notes" ng-model="pit.properties.notes"></textarea>
                </div>

              </div>
            </div>

          <div class="pull-right bottom-buttons">
            <a class="btn btn-default" href="#/site/{{ site.id }}">Cancel</a>
            <button class="btn btn-default" ng-click="save()">Save</button>
          </div>
      </form>

    </div>
  </div>
</div>
