<div class="report">
    <div class="report-header">
        <h1 class="report-title"><span class="report-name">Full report:</span> <span class="report-property"  ng-bind="site.properties.name">Location one</span></h1>

        <div class="row">
            <div class="col-md-10 col-offset-1 report-buttons">
                <a class="btn btn-default" href="#/site/{{activeSiteId}}">
                    <span class="glyphicon glyphicon-arrow-left green-text"></span>
                    Back
                </a>
                <a class="btn btn-default" ng-click="alert('Export!')"> Export .doc <span class="glyphicon glyphicon-arrow-down green-text"></span> | .pdf <span class="glyphicon glyphicon-arrow-down green-text"></span></a>
            <a class="btn btn-default" ng-click="alert('Share!')"> Share <span class="glyphicon glyphicon-share green-text"></span></a>
            </div>
        </div>

        <div class="report-intro">
            Short paragraph introducing content on this page. Short paragraph introducing content on this page. Short paragraph introducing content on this page. Short paragraph introducing content on this page. Short paragraph introducing content on this page.
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 report-map-container">
            <div class="report-map">
            </div>
        </div>
    </div>

    <div class="row pit-row">
        <div class="col-md-2 report-pit-container" ng-class="{'bar-right': $index<pits.length-1}" ng-repeat="pit in pits">
            <p class="report-pit-name">{{pit.properties.name}}</p>
            <p class="report-pit-info">{{pit.properties.notes}}</p>
        </div>
    </div>

    <div class="report-content">
        <div class="row" ng-repeat="context in contextList">
            <div class="col-md-12">
                <hr />
                <div class="row">
                    <div class="col-md-4 report-score">
                        <span class="suitability-label">{{contexts[context].label}}: </span>
                        <span class="suitability-rank">{{contexts[context].rank}}</span>
                    </div>
                    <div class="col-md-8 report-score">
                        <div class="suitability-bar {{contexts[context].bgColorClass}}" style="width: {{contexts[context].score}}%">
                        </div>
                    </div>
                </div>
                <div class="row" ng-repeat="component in contexts[context].components" id="accordion-{{component.id}}">
                    <div class="col-md-12 report-context-container">
                        <div class="row">
                            <a data-toggle="collapse" data-parent="#accordion-{{component.id}}" data-target="#collapse-{{component.id}}" ng-click="toggleCircleIconClass('circle-icon-{{component.id}}'); selectComponent('accordion-{{component.id}}');">
                                <div class="col-md-11 report-context-title">
                                    {{component.name}} 
                                    <span id="circle-icon-{{component.id}}" class="glyphicon glyphicon-plus-sign green-text"></span>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div id="collapse-{{component.id}}" class="col-md-11 collapse">
                                <div ng-if="component.question_ids.length == 0">
                                    <h4> This data comes from the pit values. This report is not yet implemented.</h4>
                                </div>
                                <div class="row report-question-row" ng-repeat="qid in component.question_ids">
                                    <div class="col-md-1">
                                        <span class="numberCircle">{{qid|digits}}</span>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <p class="report-question">{{answers[qid].question}}</p>
                                                <p class="report-answer" ng-if="answers[qid].answer">{{answers[qid].answer | uppercase }}</p>
                                                <p class="report-answer-unanswered" ng-if="!answers[qid].answer">UNANSWERED - <a class="btn btn-default" href="#/site/{{activeSiteId}}/survey/{{qid}}">Answer it now?</a></p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="answers[qid].notes">
                                            <div class="col-md-11 report-question-notes">
                                                <p class="report-question-notes-header">Notes and references</p>
                                                <p class="report-question-notes-text">{{answers[qid].notes}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


