<div class="report">
    <div class="report-header">
        <h1 class="report-title"><span class="report-name">Full report:</span> <span class="report-property"  ng-bind="site.properties.name">Property one</span></h1>

        <div class="row">
            <div class="col-md-10 col-offset-1 report-buttons">
                <a class="btn btn-default" href="#/site/{{activeSiteId}}">
                    <span class="glyphicon glyphicon-arrow-left green-text"></span>
                    Back
                </a>
                <a class="btn btn-default" ng-click="alert('Export!')"> Export .doc <span class="glyphicon glyphicon-arrow-down green-text"></span> | .pdf <span class="glyphicon glyphicon-arrow-down green-text"></span></a>
            <a class="btn btn-default" ng-click="alert('Share!')"> Share <span class="glyphicon glyphicon-share green-text"></span></a>
            </div>
        </div>

        <div class="report-intro">
            Short paragraph introducing content on this page. Short paragraph introducing content on this page. Short paragraph introducing content on this page. Short paragraph introducing content on this page. Short paragraph introducing content on this page.
        </div>
    </div>

    <div class="map map-placeholder">
        &gt; MAP HERE &lt;
    </div>

    <div class="row pit-row">
        <div class="col-md-2 report-pit-container" ng-class="{'bar-right': $index<pits.length-1}" ng-repeat="pit in pits">
            <p class="report-pit-name">{{pit.properties.name}}</p>
            <p class="report-pit-info">{{pit.properties.notes}}</p>
        </div>
    </div>

    <div class="report-content">

        <!-- Site -->
        <hr />

        <div class="row">
            <div class="col-md-4 report-score">
                <span class="suitability-label">Site: </span>
                <span class="suitability-context">Highly Suitable</span>
            </div>
            <div class="col-md-8 report-score">
                <div class="suitability-bar" style="background-color:green; width: 70%"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 report-context-container">
                <div class="row">
                    <div class="col-md-12 report-context-title">
                        Pit restorability <span class="glyphicon glyphicon-plus-sign green-text"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 report-context-container">
                <div class="row">
                    <div class="col-md-12 report-context-title">
                        Practical, property-level restorability <span class="glyphicon glyphicon-plus-sign green-text"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Socio-economic -->
        <hr />

        <div class="row">
            <div class="col-md-4 report-score">
                <span class="suitability-label">Socio-economic: </span>
                <span class="suitability-context">Unsuitable</span>
            </div>
            <div class="col-md-8 report-score">
                <div class="suitability-bar" style="background-color:gray; width: 15%"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 report-context-container">
                <div class="row">
                    <div class="col-md-12 report-context-title">
                        Cost benefit <span class="glyphicon glyphicon-plus-sign green-text"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 report-context-container">
                <div class="row">
                    <div class="col-md-12 report-context-title">
                        Threat to other areas / permutability <span class="glyphicon glyphicon-plus-sign green-text"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Landscape -->
        <hr />

        <div class="row">
            <div class="col-md-4 report-score">
                <span class="suitability-label">Landscape: </span>
                <span class="suitability-context">Moderately suitable</span>
            </div>
            <div class="col-md-8 report-score">
                <div class="suitability-bar" style="background-color:yellow; width: 45%"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 report-context-container">
                <div class="row">
                    <div class="col-md-12 report-context-title">
                        Conservation value <span class="glyphicon glyphicon-plus-sign green-text"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 report-context-container">
                <div class="row">
                    <div class="col-md-12 report-context-title">
                        Biotic conditions <span class="glyphicon glyphicon-plus-sign green-text"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 report-context-container">
                <div class="row">
                    <div class="col-md-12 report-context-title">
                        Abiotic conditions <span class="glyphicon glyphicon-plus-sign green-text"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 report-context-container">
                <div class="row">
                    <div class="col-md-12 report-context-title">
                        Geomorphic controls <span class="glyphicon glyphicon-plus-sign green-text"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 report-context-container">
                <div class="row">
                    <div class="col-md-12 report-context-title">
                        Floodplain characteristics <span class="glyphicon glyphicon-plus-sign green-text"></span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


