<div class="report">
    <div class="row">
        <div class="col-md-10 col-offset-1 report-buttons">
            <a class="btn btn-default" href="#/site/{{activeSiteId}}">
                <span class="glyphicon glyphicon-arrow-left green-text"></span>
                Back
            </a>
            <a class="btn btn-default" href="/report/view/{{activeSiteId}}/" target="_blank"> Printer Friendly <span class="glyphicon glyphicon-print green-text"></span></a>
        </div>
    </div>
    <div class="report-header">

        <h1 class="report-title"><span class="report-name">Full report:</span> <span class="report-property"  ng-bind="site.properties.name">Site one</span></h1>

        <div class="report-intro">
            Short paragraph introducing content on this page.
        </div>
    </div>

    <div class="report-content">
        <div class="row" ng-repeat="context in contextList">
            <div class="col-md-12">
                <div class="row">
                        <span class="suitability-label">{{contexts[context].label}}: </span>
                        <span class="suitability-rank">{{contexts[context].rank}}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <img class='tachometer-base' src='/app/images/tachometer/tachometer-02.png'/>
                        <img class='tachometer-needle' src='/app/images/tachometer/tachometer-01a.png' style="transform:rotate({{contexts[context].scoreDeg}}deg)"/>
                </div>
                <div class="row" ng-repeat="component in contexts[context].components" id="accordion-{{component.id}}">
                    <div class="col-md-12 report-context-container">
                        <div class="row">
                            <a data-toggle="collapse" data-parent="#accordion-{{component.id}}" data-target="#collapse-{{component.id}}" ng-click="toggleCircleIconClass('circle-icon-{{component.id}}'); selectComponent('accordion-{{component.id}}');">
                                <div class="col-md-11 report-context-title">
                                    {{component.name}} 
                                    <span id="circle-icon-{{component.id}}" class="glyphicon glyphicon-chevron-down report-toggle-icon"></span>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div id="collapse-{{component.id}}" class="col-md-11 collapse">
                                <div ng-if="component.question_ids.length == 0">
                                    <h4> This data comes from the pit values. This report is not yet implemented.</h4>
                                </div>
                                <div class="row report-question-row" ng-repeat="qid in component.question_ids">
                                    <div class="col-md-1">
                                        <span class="numberCircle">{{answers[qid].displayId|digits}}</span>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <p class="report-question">{{answers[qid].question}}</p>
                                                <p class="report-answer" ng-if="answers[qid].answer != false">
                                                    {{answers[qid].answer | uppercase }}
                                                </p>

                                                <div class="row" id="accordion-impact-{{answers[qid].displayId}}">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a class="btn btn-default impact-btn" ng-if="answers[qid].impact && answers[qid].answer" data-toggle="collapse" data-parent="#accordion-impact-{{answers[qid].displayId}}" data-target="#collapse-impact-{{answers[qid].displayId}}" ng-click="toggleImpactIconClass('impact-collapse-icon-{{answers[qid].displayId}}');">
                                                                    How does this affect my score?
                                                                    <span id="impact-collapse-icon-{{answers[qid].displayId}}" class="glyphicon glyphicon-chevron-right report-impact-toggle-icon"></span>
                                                                </a>
                                                            </div>
                                                            <div class="well collapse col-md-6" id="collapse-impact-{{answers[qid].displayId}}">
                                                                {{answers[qid].impact}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                                

                                                <p class="report-answer-unanswered" ng-if="!answers[qid].answer">UNANSWERED - <a class="btn btn-default" href="#/site/{{activeSiteId}}/survey/{{answers[qid].displayId|digits}}">Answer it now?</a></p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="answers[qid].notes">
                                            <div class="col-md-11 report-question-notes">
                                                <p class="report-question-notes-header">Notes and references</p>
                                                <p class="report-question-notes-text">{{answers[qid].notes}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr ng-if='contexts[context].label != "Location"'/>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="pit in pits" id="pit-accordion-{{pit.id}}">
        <div class="col-md-12 report-context-container">
            <div class="row">
                <a data-toggle="collapse" data-parent="#pit-accordion-{{pit.id}}" data-target="#pit-collapse-{{pit.id}}" ng-click="toggleCircleIconClass('pit-circle-icon-{{pit.id}}'); selectComponent('pit-accordion-{{pit.id}}');">
                    <div class="col-md-11 report-context-title">
                        {{pit.properties.name}} 
                        <span class="suitability-rank-pit">{{pit.properties.score.rank}}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <img class='tachometer-base-pit' src='/app/images/tachometer/tachometer-02.png'/>
                        <img class='tachometer-needle-pit' src='/app/images/tachometer/tachometer-01a.png' style="transform:rotate({{pit.properties.score.scoreDeg}}deg)"/>
                        <span id="pit-circle-icon-{{pit.id}}" class="glyphicon glyphicon-chevron-down report-toggle-icon"></span>
                    </div>
                </a>
            </div>
            <div class="row">
                <div id="pit-collapse-{{pit.id}}" class="col-md-11 collapse">
                    <!-- <div class="row report-question-row" ng-repeat="property in pit.properties"> -->
                    <div class="row report-question-row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-11">
                                    <p class="report-question">Notes</p>
                                    <p class="report-answer">{{pit.properties.notes}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>

    <div class="report-map" id="report-map" class="map"></div>
    
</div>


