<h3> Site Details for `<em>{{site.properties.name}}</em>` </h3> 

<h4> Pits </h4>
<ul>
  <li ng-repeat="pit in site.properties.pit_set">
  	<p> 
  		Pit #{{pit.id}} ({{pit.properties.name}})  
  		<a class="btn btn-primary" href="#Edit">Edit</a> 
  		<a class="btn btn-primary" href="#Delete">Delete</a>
  	</p>
<!--   	<ul>
	    <li ng-repeat='(key, prop) in pit.properties track by key'>
	        <p>{{key}} : {{prop}}</p>
	    </li>
	</ul> -->
  </li>
  <li>
  	<a class="btn btn-primary" href="#/pits/new">Add New Pit</a>
  </li>
</ul>

<a href="#/sites/{{site.id}}/question/{{site.next}}">Next Question</a>
