<!--   <a class="btn btn-default btn-xs" href="#/sites">&lt;&lt;Back</a>
 -->
<div class="row">
  <div class="col-md-6">
    Selected Site is <span class="label label-info">{{site.properties.name}}</span>
  </div>
  <div class="col-md-6">
    <div class="btn-group">
      <a class="btn btn-default btn-xs" href="#/site/{{site.id}}/edit">Edit</a>
      <button class="btn btn-default btn-xs" ng-click="deleteSite(site.id)">Delete</button>
    </div>
  </div>
</div>

<hr>

<div class="row" ng-repeat="pit in site.properties.pit_set">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    Pit #{{pit.id}} ({{pit.properties.name}})  
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <a class="btn btn-default btn-xs" href="#/site/{{site.id}}/pit/{{pit.id}}/edit">Edit</a>
      <button class="btn btn-default btn-xs" href="#" ng-click="deleteSitePit(site.id, pit.id)">Delete</button>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<hr>

<div class="btn-group pull-right">
  <a class="btn btn-default" href="#/sites">&lt;&lt; Back to Sites</a>
  <a class="btn btn-default" href="#/site/{{site.id}}/pit/new">Add New Pit</a>
  <a class="btn btn-default" href="#/site/{{site.id}}/survey/1">Continue to the Survey</a>
</div>


