<!--   <a class="btn btn-default btn-xs" href="#/sites">&lt;&lt;Back</a>
 -->
<h4> Selected Site </h4>
<strong>{{site.properties.name}}</strong>
<div class="btn-group">
  <a class="btn btn-default btn-xs" href="#/site/{{site.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
  <button class="btn btn-default btn-xs" ng-click="deleteSite(site.id)"><span class="glyphicon glyphicon-trash"></span></button>
</div>

<hr>

<h4> List of Gravel Pits on Property </h4>
<div class="row" ng-repeat="pit in site.properties.pit_set">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    Pit #{{pit.id}} ({{pit.properties.name}})  
  </div>
  <div class="col-md-2">
    <div class="btn-group">
      <a class="btn btn-default btn-xs" href="#/site/{{site.id}}/pit/{{pit.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
      <button class="btn btn-default btn-xs" href="#" ng-click="deleteSitePit(site.id, pit.id)"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<hr>

<div class="btn-group pull-right">
  <a class="btn btn-default" href="#/sites">&lt;&lt; Back to Sites</a>
  <a class="btn btn-default" href="#/site/{{site.id}}/pit/new">Add New Pit</a>
  <a class="btn btn-default" href="#/site/{{site.id}}/survey/1">Continue to the Survey</a>
</div>


