<div class='left-panel'>
  <h3 ng-bind-html="title">
  </h3>

  <form class="form-search" id="geosearch-form" class="form-horizontal" role="form">
      <div class="control-group form-group">
          <label for="input-geosearch" class="col-sm-3 control-label">Search by Placename</label>
          <div class="controls col-sm-7"> 
              <input type="text" id="input-geosearch" class="form-control" ng-model="searchTerm">
          </div>
          <div class="controls col-sm-2"> 
              <button class="btn btn-default" type="submit" ng-click="debugger;geosearch(searchTerm)">Search</button>
          </div>
      </div>
  </form>

<br/>

  <h4 class="padded-box" ng-bind-html="siteEditDirections"></h4>

  <div>
    <form novalidate name="pitForm" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" ng-model="site.properties.name" required>
        </div>
      </div>
      <div class="pull-right">
        <a class="btn btn-default" href="#/sites">Cancel</a>
        <button class="btn btn-default" ng-click="save()">Save</button>
      </div>
    </form>
  </div>
  <div class="definitions padded-box property-box" ng-bind-html="siteEditDefinitions"></div>
</div>
