<div class='left-panel'>
    <div class='left-panel-content'>
        <h3> {{content.siteListHeader}} </h3>

        <div class="properties">
            <div class="property-box" ng-repeat="site in sites" id="accordion-{{site.id}}">
                <div class="row">
                    <div class="col-md-8">
                        <h4>
                            <a data-toggle="collapse" data-parent="#accordion-{{site.id}}" data-target="#collapse-{{site.id}}" ng-click="toggleCircleIconClass('circle-icon-{{site.id}}')">
                                <span id="circle-icon-{{site.id}}" class="glyphicon glyphicon-plus-sign"></span>
                                {{site.properties.name}}
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-2 property-details">
                        <a class="prop-action" href="#/site/{{site.id}}">details</a>
                    </div>
                    <div class="col-md-2 property-edit">
                        <a class="prop-action" href="#/site/{{site.id}}/edit">edit</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div id="collapse-{{site.id}}" class="col-md-11 col-md-offset-1 collapse">
                        <div class="row">
                            <div class="col-md-4 prop-list-details">
                                <p>Total pits: {{site.properties.pit_set.length}}</p>
                            </div>
                            <div class="col-md-7">
                                <div class="row" ng-repeat="pit in site.properties.pit_set">
                                  <div class="col-md-11">
                                    {{pit.properties.name}}
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <a ng-show="sites.length === 0" class="btn btn-default btn-info" href="#/help/documents">Before Starting</a>
    <a class="btn btn-default" href="#/site/new">Add New Site</a>

    </div>
</div>