<h4>{{question.title}}</h4>
<strong>{{question.question}}</strong>

<div>
  <form novalidate name="pitForm" class="form-horizontal" role="form">
    <div class="form-group" ng-repeat="choice in question.choices">
      {{choice.choice}}, {{choice.value}}
    </div>
  </form>
</div>


<p>
	More info: 
{{question.detail}}
</p>

<a class="btn btn-default" href="#/site/{{siteId}}/survey/{{ prevQuestion() }}"> Back Question</a>
<a class="btn btn-default" href="#/site/{{siteId}}/survey/{{ nextQuestion() }}"> Save <span ng-show="showNext">and Go to next question</span></a>
