<div class="survey-content">
  <div class="row survey-row">
    <div class="col-md-1 survey-col survey-nav-col">
      <a href="#/site/{{activeSiteId}}/{{(question.id == 1)?'':'survey/' +  prevQuestion() }}">
        <p class="survey-nav">
          <span class="glyphicon glyphicon-play survey-nav-icon survey-nav-back"></span>
        </p>
      </a>
    </div>
    <div class="col-md-10 survey-col">
      <p class="survey-question-header">
        <span class="numberCircle">{{question.id|digits}}</span> {{question.category|uppercase}}
      </p>
      <p class="question">{{question.question}}</p>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <form novalidate name="pitForm" role="form">
            <div ng-repeat="choice in question.choices">

              <div class="radio">
                <label class="survey-choice">
                  <input type="radio" name="choice" ng-value="choice.value" ng-checked="choice.value == node.value" ng-model="$parent.nodeVal">
                  <span class="radio-span">&nbsp;</span>
                  {{choice.choice}}
                </label>
              </div>

            </div>
            <textarea class="notes-box" ng-value="choice.notes" ng-model="nodeNotes" rows="4" cols="50" placeholder="Notes"></textarea>
          </form>
        </div>
      </div>


      <p class="question-detail">
      {{question.detail}}
      </p>

      <div class="row">
        <div class="col-md-12">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 survey-status-summary">
          <span class="glyphicon glyphicon-ok survey-status-icon"></span>&nbsp;{{numNodes}} of {{numQuestions}} completed
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="survey-status-bar">
            <span class="survey-status-span" style="padding-left:{{(numNodes/numQuestions)*100}}%">
              &nbsp;
            </span>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div class="col-md-1 survey-col survey-nav-col">
      <a ng-click="submitForm()">
        <p class="survey-nav survey-nav-forward">
          <span class="glyphicon glyphicon-play survey-nav-icon"></span>
        </p>
      </a>
    </div>
  </div>
</div>