<div class="left-panel-content survey-content">
  <div class="row survey-row">
    <div class="col-md-1 survey-col survey-nav-col">
      <p class="survey-nav">
        <a href="#/site/{{siteId}}/survey/{{ prevQuestion() }}">
          <span class="glyphicon glyphicon-play survey-nav-icon survey-nav-back"></span>
        </a>
      </p>
    </div>
    <div class="col-md-8 survey-col">
      <p class="survey-question-header">
        <span class="numberCircle">{{question.id|digits}}</span> {{question.category|uppercase}}
      </p>
      <p class="question">{{question.question}}</p>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <form novalidate name="pitForm" role="form">
            <div ng-repeat="choice in question.choices">

              <div class="radio">
                <label class="survey-choice">
                  <input type="radio" name="choice" value="{{choice.value}}">
                  <span class="radio-span">&nbsp;</span>
                  {{choice.choice}}
                </label>
              </div>

            </div>
          </form>
        </div>
      </div>


      <p class="question-detail">
      {{question.detail}}
      </p>

      <div class="row">
        <div class="col-md-9">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 survey-status-summary">
          <span class="glyphicon glyphicon-ok survey-status-icon"></span>&nbsp;{{question.id-1}} of 2 completed
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="survey-status-bar">
            <span class="survey-status-span" style="padding-left:{{((question.id -1 )/2)*100}}%">
              &nbsp;
            </span>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div class="col-md-1 survey-col survey-nav-col">
      <p class="survey-nav survey-nav-forward">
        <a href="#/site/{{siteId}}/survey/{{ nextQuestion() }}">
          <span class="glyphicon glyphicon-play survey-nav-icon"></span>
        </a>
      </p>
    </div>
  </div>
</div>